.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 300px;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 15px;
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly ;
  
}

.form *{
  font-size: 25px;  
  /* gap:30px; */
}

 .button{
  background-color: black; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 30px;
  align-items: center;
  margin-left: 300px;
} 

/* .header{
  display: flex;  
} */
.btn{
  background-color: black; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 30px;
  align-items: center;
  margin-left: 10px;
}



.button1{
  background-color: black; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 30px;
  align-items: center;
  margin-left: 10px;
} 